<!DOCTYPE html>
<html class="wide wow-animation" lang="ko">
<head>
    <title>MOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

</head>
<body>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-bell">
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                <div class="rd-navbar-aside-outer">
                    <div class="rd-navbar-aside">
                        <div class="rd-navbar-collapse">
                            <ul class="contacts-classic">
                                <li><span class="contacts-classic-title">Call us:</span> <a class="link" href="tel:#">+1 (844) 123 456 78</a>
                                </li>
                                <li><a href="mailto:#">info@demolink.org</a></li>
                            </ul><a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202" href="#"><span>2</span></a>
                        </div>
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" href="order"><img class="brand-logo-dark" src="images/logo-default-234x82.png" alt="" width="117" height="41"/><img class="brand-logo-light" src="images/logo-inverse-234x82.png" alt="" width="117" height="41"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-aside-element">
                            <!-- RD Navbar Search-->
                            <div class="rd-navbar-search rd-navbar-search-2">
                                <button class="rd-navbar-search-toggle rd-navbar-fixed-element-3" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                                <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                    <div class="form-wrap">
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                                        <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                        <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                                    </div>
                                </form>
                            </div>
                            <!-- RD Navbar Basket-->
                            <div class="rd-navbar-basket-wrap">
                                <button class="rd-navbar-basket fl-bigmug-line-shopping202" data-rd-navbar-toggle=".cart-inline"><span>2</span></button>
                                <div class="cart-inline">
                                    <div class="cart-inline-header">
                                        <h5 class="cart-inline-title">In cart:<span> 2</span> Products</h5>
                                        <h6 class="cart-inline-title">Total price:<span> $44</span></h6>
                                    </div>
                                    <div class="cart-inline-body">
                                        <div class="cart-inline-item">
                                            <div class="unit unit-spacing-sm align-items-center">
                                                <div class="unit-left"><a class="cart-inline-figure" href="single-product.html"><img src="images/product-mini-1-106x104.jpg" alt="" width="106" height="104"/></a></div>
                                                <div class="unit-body">
                                                    <h6 class="cart-inline-name"><a href="single-product.html">Forest Berry</a></h6>
                                                    <div>
                                                        <div class="group-xs group-middle">
                                                            <div class="table-cart-stepper">
                                                                <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"/>
                                                            </div>
                                                            <h6 class="cart-inline-title">$18.00</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-inline-item">
                                            <div class="unit unit-spacing-sm align-items-center">
                                                <div class="unit-left"><a class="cart-inline-figure" href="single-product.html"><img src="images/product-mini-2-106x104.jpg" alt="" width="106" height="104"/></a></div>
                                                <div class="unit-body">
                                                    <h6 class="cart-inline-name"><a href="single-product.html">Tomatoes</a></h6>
                                                    <div>
                                                        <div class="group-xs group-middle">
                                                            <div class="table-cart-stepper">
                                                                <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"/>
                                                            </div>
                                                            <h6 class="cart-inline-title"></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-inline-footer">
                                        <div class="group-sm"><a class="button button-default-outline-2 button-zakaria" href="cart-page.html">Go to cart</a><a class="button button-primary button-zakaria" href="checkout.html">Checkout</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rd-navbar-fixed-element-2 select-inline">
                                <select data-dropdown-class="select-inline-dropdown">
                                    <option value="ko">ko</option>
                                    <option value="en">en</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <div class="rd-navbar-nav-wrap">
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item"><a class="rd-nav-link" href="order">메뉴</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="cart">장바구니</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom-footer">
            <div class="container">
                <h2 class="text-transform-capitalize breadcrumbs-custom-title">장바구니</h2>
            </div>
        </div>
    </section>
    <!-- Shopping Cart-->
    <section class="section section-xl bg-default">
        <div class="container">
            <!-- shopping-cart-->
            <div class="table-custom-responsive" id="basket">
                <script id="template" type="text/x-handlebars-template">
                <table class="table-custom table-cart" id="cart_table">
                    <thead>
                    <tr>
                        <th>메뉴</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>합계</th>
                    </tr>
                    </thead>
                    <tbody>
                    \{{#each menu}}
                    <tr>
                        <td><a class="table-cart-figure" href="single-product.html"><img src="images/product-mini-4-146x132.png" alt="" width="146" height="132"/></a><a class="table-cart-link" href="single-product.html">\{{name}}</a></td>
                        <td>\{{price}}원</td>
                        <td>
                            <div class="table-cart-stepper">
                                <input class="form-input" type="number" id="input-count" name="count" data-zeros="true" value="\{{count}}" min="1" max="1000">
                            </div>
                        </td>
                        <td>\{{allCount}}원</td>
                    </tr>
                    \{{/each}}
                    </tbody>
                </table>
                </script>
            </div>
            <div class="group-xl group-justify justify-content-center justify-content-md-between">
                <div>
                    <form class="rd-form rd-mailform rd-form-inline rd-form-coupon">
                        <div class="form-wrap">
                            <input class="form-input form-input-inverse" id="coupon-code" type="text" name="text">
                            <label class="form-label" for="coupon-code">Coupon code</label>
                        </div>
                        <div class="form-button">
                            <button class="button button-lg button-secondary button-zakaria" type="submit">Apply</button>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="group-xl group-middle">
                        <div>
                            <div class="group-md group-middle" >
                                <div class="heading-5 font-weight-medium text-gray-500">합계</div>
                                <div class="heading-3 font-weight-normal" id="total">
                                    <script id="totalTem" type="text/x-handlebars-template">\{{total}}원</script></div>
                            </div>
                        </div><a class="button button-lg button-primary button-zakaria" href="result">결제</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>MOS</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script src="app/cart.js"></script>
<script src="js/mustache.min.js"></script>
<script type="text/javascript">
    var source = $("#template").html();
    var template = Handlebars.compile(source);
    source = $("#totalTem").html();
    var totalTem = Handlebars.compile(source);


    var menuArray = new Array();
    var totalCount = 0;

    for(var i = 0; i < sessionStorage.length; i++){
        menuArray[i] = JSON.parse(sessionStorage.getItem(sessionStorage.key(i)));
        menuArray[i].allCount = parseInt(menuArray[i].price) * parseInt(menuArray[i].count);
        totalCount += menuArray[i].allCount;
    }

     var data = {
        menu: menuArray
    }
    var tot = {
        total: totalCount
    }

    $('#basket').append(template(data));
    $('#total').append(totalTem(tot));
</script>
</body>
</html>