<!DOCTYPE html>
<html class="wide wow-animation" lang="ko">
<head>
    <title>MOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

</head>
<body>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-bell">
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-aside-outer">
                    <div class="rd-navbar-aside">
                        <div class="rd-navbar-collapse">
                            <ul class="contacts-classic">
                                <li><a class="rd-navbar-basket rd-navbar-basket-mobile order-list fl-bigmug-line-clipboard68" href="result"></a>
                                </li>
                            <!-- 매장 정보 삭제 예정 -->
                                <!--<li><span class="contacts-classic-title">Call us:</span> <a class="link" href="tel:#">+1 (844) 123 456 78</a>
                                </li>
                                <li><a href="mailto:#">info@demolink.org</a></li>
                                -->
                            </ul><!--<a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202" href="#"><span>2</span></a>-->
                        </div>
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- 로고-->
                            <div class="rd-navbar-brand">
                                <a class="brand" href="order"><img class="brand-logo-dark" src="images/mos_logo.jpg" alt="" width="117" height="41"/><img class="brand-logo-light" src="images/mos_logo.jpg" alt="" width="117" height="41"/></a>
                            </div>
                            <a class="rd-navbar-basket rd-navbar-basket-mobile order-list fl-bigmug-line-clipboard68 top-result" href="result"></a>
                        </div>
                        <!-- 오른쪽 상단 주문내역 버튼-->
                        <div class="rd-navbar-aside-element">
                            <div class="rd-navbar-basket-wrap">
                                <div class="rd-navbar-collapse">
                                    <button class="rd-navbar-basket fl-bigmug-line-clipboard68" onclick="location.href='result'"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!--<div class="rd-navbar-nav-wrap">-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item"><a class="rd-nav-link" href="order">메뉴</a>
                                </li>
                                <!--
                                <li class="rd-nav-item"><a class="rd-nav-link" href="cart">장바구니</a>
                                </li>
                                -->
                            </ul>
                        <!--</div>-->
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom-footer cart-title">
            <div class="container cart-container">
                <h2 class="text-transform-capitalize breadcrumbs-custom-title">장바구니</h2>
            </div>
        </div>
    </section>
    <!-- Shopping Cart-->
    <section class="section section-xl bg-default">
        <div class="container cart-container">
            <!-- shopping-cart-->
            <div class="table-custom-responsive" id="basket">
                <script id="template" type="text/x-handlebars-template">
                <table class="table-custom table-cart" id="cart_table">
                    <thead>
                    <tr>
                        <th>메뉴</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>합계</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    \{{#each menu}}
                    <tr>
                        <td><a class="table-cart-figure" href="single-product.html"><img src="images/product-mini-4-146x132.png" alt="" width="146" height="132"/></a><a class="table-cart-link" href="single-product.html">\{{name}}</a></td>
                        <td>\{{price}}원</td>
                        <td>
                            <div class="table-cart-stepper">
                                <input class="form-input" type="number" id="input-count" name="count" data-zeros="true" value="\{{count}}" min="1" max="1000">
                            </div>
                        </td>
                        <td>\{{allCount}}원</td>
                        <td><button class="button button-lg button-secondary button-zakaria" type="submit" onclick="delete_menu(\{{key}})">삭제</button></td>
                    </tr>
                    \{{/each}}
                    </tbody>
                </table>
                </script>
            </div>
            <div class="group-xl group-justify justify-content-center justify-content-md-between">
                <div>
                    <div class="group-xl group-middle ">
                        <div>
                            <div class="group-md group-middle">
                                <div class="heading-5 font-weight-medium text-gray-500">합계</div>
                                <div class="heading-3 font-weight-normal" id="total">
                                    <script id="totalTem" type="text/x-handlebars-template">\{{total}}원</script></div>
                            </div>
                        </div><a class="button button-lg button-primary button-zakaria" href="payment">결제</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>MOS</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script src="app/cart.js"></script>
<script src="js/mustache.min.js"></script>
<script type="text/javascript">
    var source = $("#template").html();
    var template = Handlebars.compile(source);
    source = $("#totalTem").html();
    var totalTem = Handlebars.compile(source);


    var menuArray = new Array();
    var totalCount = 0;

    for(var i = 0; i < sessionStorage.length; i++){
        menuArray[i] = JSON.parse(sessionStorage.getItem(sessionStorage.key(i)));
        menuArray[i].allCount = parseInt(menuArray[i].price) * parseInt(menuArray[i].count);
        menuArray[i].key = sessionStorage.key(i);
        totalCount += menuArray[i].allCount;
    }

     var data = {
        menu: menuArray
    }
    var tot = {
        total: totalCount
    }

    $('#basket').append(template(data));
    $('#total').append(totalTem(tot));

    function delete_menu(id){
        sessionStorage.removeItem(id);
        location.reload();
    }
</script>
</body>
</html>